.preview-grid {
    height: 300px;
    width: 612px;
    /* padding-right: 100px; */
    overflow-x: auto;
    background-color: rgb(221, 221, 221);
}


.preview-grid img {
    vertical-align:top;
    width: 75px;
    height: 75px;
    object-fit: cover;
}